body {
    margin: 0;
    padding: 0;
}

#total {
    width: 500px;
    margin: auto;
    padding: 100px;
    text-align: center;
    vertical-align: middle;
}
#topdiv{
    display: inline-block;
    width: auto;
}
#buttomdiv{
    margin-left: 35px;
    margin-top: 20px;
    position: relative;

}
#select{
    position: absolute;
    left:140px;
    top: 10px;

}
#company{
    left:140px;
    top: 10px;
    position: absolute;
    visibility: hidden;

}

#select1,#select2{
    margin-right: 10px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border-radius: 4px;
}
#content{
    border: 0.5px solid #a8a8a8;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
}
